html {
    height: 100%;
}

body {
    height: 100%;
    background-color: pink;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family:'Aguafina Script';
    margin-bottom: -30px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    border: 3px dashed white;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.main {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://media.mnn.com/assets/images/2017/01/cow-in-pasture.jpg.838x0_q80.jpg");
}
.social-image{
    width: 30px;
    margin: 15px;
}
.aboutMain {
    display: flex;
}
.leftPane {
    font-size: 40px;
    width: 70%;
    background-color: white;
}
.rightPane {
    width: 30%;
    height: 450px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuIHtvu03pSmm_T0rKckWOQlyNuN6T_gZHRCHWGi0Qf7e46wGnpQ");
}

.thumbnail-image {
    display: block;
    margin: 40px;
    margin-left: 350px;
    border: 5px dotted white;
    padding: 30px;
}
